{% extends "core/base.html" %}
{% load static %}

{% block content %}

    <div class="my-fixed-width text-center">
        <h2>Contact</h2>
        Please direct all correspondence to <a href="mailto:ligtbm@gmail.com">ligtbm@gmail.com</a>
    </div>
    <br/>

{% endblock %}