{% extends "core/base.html" %}
{% load static %}

{% block header_add %}
    <link rel='stylesheet' type='text/css' href={% static "core/css/range-slider.css" %} />
    <!-- NGL to display molecules -->
    <script src="{% static 'core/javascript/ngl.js' %}"></script>
    <script src="{% static "core/javascript/view-clusters.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="row my-fixed-width">
        <div class="text-center">
            <h2>Job {{ job.job_id }}</h2>
            <br>
            <table class="table table-hover table-bordered table-responsive my-fixed-width">
                <thead>
                <tr>
                    <th style="text-align: center;">Id</th>
                    <th style="text-align: center;">Name</th>
                    <th style="text-align: center;">User</th>
                    <th style="text-align: center;">Status</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>{{ job.job_id }}</td>
                    <td>{{ job.job_name|default:job.job_id|truncatechars:15 }}</td>
                    <td>{{ job.user.username|truncatechars:20 }}</td>
                    <td>{% if job.error %}{{ job.error }}{% else %}{{ job.get_status_display }}{% endif %}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <hr>
        <div style="display: table; margin: auto">
            <h4 align="center">Details</h4>
            <br>
            {% if job.details_json %}
                <p>Receptor PDB file: <a href="{% url 'download_file' %}?job_id={{ job.job_id }}&content=receptor.pdb">receptor.pdb</a></p>
                <p>Chain name: {{ job.rec_chain }}</p>
                <p>Ligand SMILES: {{ job.lig_smiles }}</p>
                {% if job.pdb_exc %}
                    <p>PDB exclusions: {{ job.pdb_exc|join:", " }}</p>
                {% endif %}
            {% endif %}
        </div>
        {% if job.status == 'L.PDB' %}
            <h4 align="center">Unable to find any templates</h4>
        {% endif %}
        {% if job.status == 'L.CPL' %}
            <hr>
            <h4 align="center">View representative models</h4>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">Use your mouse to drag, rotate, and zoom</div>
                <div class="panel-body" style="padding: 1px;">
                    <div id="viewport" style="height: 300px; min-width:100%"></div>
                </div>

                <div class="panel-footer">Powered by <a href="https://github.com/arose/ngl" target="_blank">NGL</a>
                </div>
            </div>

            <a id="models_link" style="display: none;"
               href="{% url 'download_file' %}?job_id={{ job.job_id }}&content=ngl_models.pdb"></a>

            <p style="color: rgba(150,150,146,0.99);">Drag the handle to switch between cluster centers (top 10)</p>
            <div style="position: relative;">
                <input type="range" min="1" max="10" value="1" class="slider" id="myRange">
            </div>
            <br/><br/>
            <p align="center" style="margin: auto" id="demo"></p>
        {% endif %}

        {% if job.status == 'L.CPL' or job.status == 'L.ERR' or job.status == 'R.ERR' or job.status == 'L.PDB' %}
            <hr>
            <h4 align="center">Downloads</h4>
            <br>
            <div style="display: table; margin: auto">
                {% if job.status == 'L.CPL' %}
                    <a style="width: 100%" type="button" class="btn btn-default"
                       href="{% url 'download_file' %}?job_id={{ job.job_id }}&content=models.zip">
                        <span class="glyphicon glyphicon-download-alt"></span>
                        Download all models
                    </a>
                    <br><br>
                    <a style="width: 100%" type="button" class="btn btn-default"
                       href="{% url 'download_file' %}?job_id={{ job.job_id }}&content=scores.csv">
                        <span class="glyphicon glyphicon-download-alt"></span>
                        Download scores
                    </a>
                    <br><br>
                {% endif %}
                <a style="width: 100%" type="button" class="btn btn-default"
                   href="{% url 'download_file' %}?job_id={{ job.job_id }}&content=log.txt">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    Download log
                </a>
            </div>
        {% endif %}
        <br/><br/><br/>
    </div>
{% endblock %}
