.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.wrapper .file-upload {
  height: 40px;
  width: 200px;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  overflow: hidden;
  font-size: 15px;
  transition: all 200ms;

  background-color: #FFFFFF;
  color: darkgrey;
}

.wrapper .file-upload input[type='file'] {
  height: 40px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.wrapper .file-upload:hover {
  box-shadow: 0 0 7px rgba(57, 151, 230, 0.5);
  border-color: #119af9;
  color: #119af9;
}
